<header class="main-header">
    <nav class="main-header__nav">
      <ul class="main-header__items-list">
        <li class="main-header__items">
          <a href="/">Home</a>
        </li>
        <li class="main-header__items">
          <a href="/admin/add-product">Add Product</a>
        </li>
        <li class="main-header__items">
          <a href="/products">Products</a>
        </li>
        <li class="main-header__items">
          <a href="/cart">Cart</a>
        </li>
        <li class="main-header__items">
          <a href="/orders">Orders</a>
        </li>
        <li class="main-header__items">
          <a href="/admin/products">Admin Product</a>
        </li>
      </ul>
    </nav>
  </header>