<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PAGE NOT FOUND</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/page404.css" />
  </head>

  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__items-list">
          <li class="main-header__items">
            <a class="active" href="/">Home</a>
          </li>
          <li class="main-header__items">
            <a href="/admin/add-product">Add Product</a>
          </li>
        </ul>
      </nav>
    </header>
    <!-- <div class="background-image"> -->
    <main>
      <h1>PAGE NOT FOUND !!!</h1>
    </main>
    <!-- </div> -->
  </body>
</html>
